<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Musicas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Artistas</h1>
    <ul>
      {% for artist in ask %}
      <li>
        <a href="{{url_for('artists.detalle', id= artist['albumId']) }}">
          {{album['Name']}}
        </a>
      </li>
      {%endfor%}
    </ul>
  </body>
</html>
